@model ParkingRentWeb.Models.Paking

@{
    ViewData["Title"] = "Ajouter une place";
}

<h2>Create</h2>

<h4>Paking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="IdTypeParking" class="control-label"></label>
				<select asp-for="IdTypeParking" class="form-control" asp-items="ViewBag.IdTypeParking"></select>
			</div>
			<div class="form-group">
				<label asp-for="Adresse" class="control-label"></label>
				<input asp-for="Adresse" class="form-control" />
				<span asp-validation-for="Adresse" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Ville" class="control-label"></label>
				<input asp-for="Ville" class="form-control" />
				<span asp-validation-for="Ville" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Cp" class="control-label"></label>
				<input asp-for="Cp" class="form-control" />
				<span asp-validation-for="Cp" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PrixJournalier" class="control-label"></label>
				<input asp-for="PrixJournalier" class="form-control" />
				<span asp-validation-for="PrixJournalier" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
